<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        {% if state_name == "" %}
        <h1>Not found!</h1>
        {% else %}
        <h1>State: {{ state_name }}</h1>
        <h3>Cities:</h3>
        <ul>
        {% for state in states %}{% if state.id == id %}{% for city in state.cities|sort(attribute="name") %}
            <li>{{ city.id }}: <B>{{ city.name }}</B></li>  
        {% endfor %}{% endif %}{% endfor %}
        </ul>
        {% endif %}
    </body>
</html>